.idea/
*/.idea
*.xml
*.iml
.DS_Store
NLP Coursera Specialization/Natural Language Processing with Sequence Models/Week2/.DS_Store
NLP Coursera Specialization/Natural Language Processing with Classification and Vector Spaces/.DS_Store
NLP Coursera Specialization/Natural Language Processing with Sequence Models/.DS_Store

